.btn
    @include btn

    &-main
        padding: 20px 63px

    &-services
        color: $btn-color
        background-color: #fff
        border: 1px solid $btn-color
        padding: 20px 60px

    &-delivery
        padding: 33px 58px
        text-transform: uppercase