.services
    padding: 96px 0 107px 0
    display: flex

    &__introduce
        display: flex
        flex-direction: column
        align-items: baseline
        max-width: 510px

        &-headline
            @include headlines
            padding-bottom: 30px

        &-desc
            @include desc
            padding-bottom: 47px

    &__list
        @include reset-list
        display: flex
        flex-wrap: wrap
        max-width: 610px

        &-item
            background: url("../img/services-sprite.png") no-repeat
            padding: 72px 0 50px 0
            margin-right: 50px
            width: 270px

            &:nth-child(2n)
                margin-right: 0

            &--settings
                background-position: 0 9px

            &--ux
                background-position: -320px 9px

            &--branding
                background-position: 0 -260px

            &--animation
                background-position: -320px -260px

            &-headline
                color: $desc-color
                font-size: 24px
                margin: 0

            &-desc
                font-size: 16px
                color: $desc-color
                text-align: left
                line-height: 28px